
@font-face {
    font-family: 'supermarketregular';
    src: url('/fonts/supermarket.eot');
    src: url('/fonts/supermarket.eot?#iefix') format('embedded-opentype'),
    url('/fonts/supermarket.woff2') format('woff2'),
    url('/fonts/supermarket.woff') format('woff'),
    url('/fonts/supermarket.svg#supermarketregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
  {
    background: #ededed;
    color: #000;
    font-family: 'supermarketregular';
	line-height: 24px;
    position: relative;
  }
  
.blue {
	color: #06C;
}

.green {
	color: #090;
}

.orange {
	color: #C60;
}

.white {
	color: #FFF;
}


/*form*/
.form-control{
    font-size: 1.5em;
}
/*end form*/


/* start page container */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}
@media (min-width:768px) {
    .container {
        //width: 740px;
    }
}@media (min-width:992px) {
    .container {
        //width: 960px;
    }
}@media (min-width:1220px) {
    .container {
        //width: 1280px;
    }
}.row {
    margin-left: 0px;
    margin-right: 0px;
}
.container {
    //padding-left: 15px;
    //padding-right: 15px;
}@media (min-width: 1024px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}@media (min-width: 1024px) and (max-width: 1299px) {
    .container {
        //width: 1024px;
    }
}@media (min-width: 1200px) {
    .container {
        width: 1024px;
    }
}@media (min-width: 1300px) {
    .container {
        padding: 0 20px;
        width: 1200px;
    }
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-nav>li>a {
    font-family: 'supermarketregular';
    font-size: 1.5em;

}
/* end page container */

/* start navigation */
.navbar-default {
    border: none;
    background: transparent;
    margin-top: 4vh;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.navbar-brand p {
    font-family: 'Dosis';
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.navbar-brand em {
    font-size: 26px;
    font-style: normal;
}

.nav .navbar-nav {
    text-align: center;
}

.navbar-right a {
    font-family: 'Dosis';
    font-size: 16px;
    color: #eaffd6 !important;
    text-transform: uppercase;
;
    padding: 0;
    line-height: 50px;
    position: relative;
    z-index: 211;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

.navbar-right a:hover {
    /*background-color: #fff !important;*/
    /*color: #8bc655 !important;*/;
}

.navbar-right li {
    height: 50px;
    position: relative;
    z-index: 210;
}

.navbar-right li span {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    top: 0;
    left: 0;
    z-index: 200;
}

.navbar-right li:hover span {
    width: 100%;
}

.navbar-right li:hover a {
    color: #E91E63 !important;
}
/* end navigation */

/* start home */
h1 { margin: 0; }
#home { //padding-top: 65px; }
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  padding: 0;
  position: relative;
  zoom: 1;
  background-color: #371604;
  overflow: hidden;
  margin: 0;
    //max-height: 550px;
}
.flexslider .slides {
  padding: 0;
  zoom: 1;
}
.flexslider .slides #im {
  width: 100%;
  min-width: 648px;
  min-height: 270px;
  display: block;
}
.flexslider .slides > li {
  display: none;  
  padding: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
}
.flexslider img {
  position: relative;
  width: 100%;
}
.slider-caption {
  color:white;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 7;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#big-banner {
    background-image: url(../images/backg1.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    border-bottom: 4px solid #E91E63;

}
#big-banner .main-icons {
    //margin: 0;
    //padding: 0;
    text-align: center;
    margin-top: 150px;
}

#big-banner ul li {
    list-style: none;
    display: inline;

   margin-right: 90px;
   // margin-left: -90px;
}

#big-banner .main-icons i {
    font-size: 72px;
    color: #fff;
    display: block;
    padding-bottom: 20px;
}

#big-banner .main-icons i:hover {
    color: #E91E63 !important;
}
#big-banner .main-icons img
{
    max-height: 150px;
    max-width: 130px;

    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#big-banner .main-icons a {
//เพิ่ม letter space ,เปลื่ยน f

display: block;
    font-family: 'supermarketregular';
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
    letter-spacing: 3px;
}
@media (max-width:992px) {

    #big-banner .main-icons {
        text-align: center;
        margin-top: 120px;
    }

    #big-banner .main-icons li {
        list-style: none;
        display: inline-block;
        //margin-right: 60px;
    }

    #big-banner .main-icons i {
        font-size: 42px;
        color: #fff;
        display: block;
        padding-bottom: 20px;
    }
    #big-banner1 .main-icons img
    {
        max-height: 135px;
        max-width: 135px;
        display: block;
        //padding-bottom: 10px;
        margin-top: -10px;
    }

    #big-banner .main-icons i:hover {
        color: #8bc655 !important;
    }

    #big-banner .main-icons a {
        display: block;
        font-family: 'Dosis';
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 40px;
    }
}

@media (max-width:676px) {

    #big-banner .main-icons {
        text-align: center;
        margin-top: 150px;
    }

    #big-banner .main-icons li {
        list-style: none;
        display: inline-block;
        margin-right: 50px;
    }

    #big-banner .main-icons i {
        font-size: 42px;
        color: #fff;
        display: block;
        padding-bottom: 20px;
    }
    #big-banner1 .main-icons img
    {
        max-height: 130px;
        max-width: 130px;
        display: block;
        margin-top: -10px;
    }

    #big-banner .main-icons i:hover {
        color: #8bc655 !important;
    }

    #big-banner .main-icons a {
        display: block;
        font-family: 'Dosis';
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 40px;
    }
}
@media (max-width:768px) {


    #big-banner .main-icons {
        text-align: center;
        margin-top: 30px;
    }
}
@media (max-width:768px) {
    .hidden-phone1 {
        visibility: hidden !important;
    }
    #newsletter .input-group{
        width: 85%;
    }
}
@media (min-width:768px) {
    .hidden-phone2 {
        display: none!important;
    }
    #newsletter .input-group{
        width: 50%;
    }
}
@media (max-width:601px) {


    #big-banner .main-icons {
        text-align: center;
        margin-top: 12px;
    }
}
@media (max-width:360px) {

    #big-banner .main-icons {
        text-align: center;
        margin-top: 40px;
    }

    #big-banner .main-icons i {
        font-size: 42px;
        color: #fff;
        display: block;
        padding-bottom: 10px;
    }
    #big-banner1 .main-icons img
    {
        max-height: 130px;
        max-width: 130px;
        display: block;
        margin-top: -10px;
    }
}

@media (max-width:360px) {

    #big-banner .main-icons {
        text-align: center;
        //margin-top: 120px;
    }
}




/* start social icon */
.social_icon
  {
    padding: 0;
  }
.social_icon li
  {
    display: inline-block;
    position: relative;
  }
ul 
  {
    margin-bottom: 0;
  }
.social_icon li a
  {
    background: #303030;
    border-radius: 50%;
    cursor: pointer;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
  }
.social_icon li a:hover
  {
    background: #66AF33;
    color: #FFFFFF;
  }
  footer .social_icon {
    margin-top: 10px;
  }
/* end social icon */



/* start newsletter */
#newsletter
  {
    //background: url('../images/newsletter-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFFF;
    //min-height: 300px;
    padding: 50px 0 50px 0;
  }

#newsletter h3
  {
    font-weight: bold;
    letter-spacing: 1px !important;
    padding-bottom: 30px;
  }
#newsletter p
  {
    font-weight: 400;
    padding: 0 0 30px 0;
  }
#newsletter form .form-control
  {
    background: #404040;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    color: #FFFFFF;
    height: 50px;
    margin-bottom: 10px;
    opacity: 0.9;
  }
#newsletter .form-control::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
#newsletter .form-control:-ms-input-placeholder {
  color: #FFFFFF;
}
#newsletter .form-control::-webkit-input-placeholder {
  color: #FFFFFF;
}
#newsletter button
{
    background: #E91E63!important;
    height: 103%;
    border: none;
    margin-top: -10px;
    width: 160%;
    color: #FFFFFF;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
@media (max-width: 467px) {
    #newsletter button
    {
        width: 100%;
    }
}
#newsletter button:focus,
#newsletter button:hover
{
    background: #FFFFFF!important;
    color: #E91E63;
    border: #E91E63 2px;
}





@media only screen and (max-width: 1199px) {
  h1 { font-size: 30px; }
  h2 { //font-size: 24px; }
}

/* start 768 media quires */
@media only screen and ( max-width: 768px ) {
  .navbar-header {
    padding-left: 15px;
  }
  h1 { font-size: 26px; }
  h2 { //font-size: 18px; }
  #home .btn { 
    margin-top: 10px; 
    width: 180px;
    height: 40px;
    padding-top: 8px;
  }
  #about { padding-top: 65px; }
  #team .team_thumb .team_overlay
  {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
  }
}
/* end 768 media quires */

@media only screen and (max-width: 640px) {
  h1 { font-size: 26px; }
  h2 { //font-size: 14px; }
  #home .btn {
    width: auto;
    height: auto;
    padding: 10px 20px;
    margin-top: 10px; 
  }
}

/* start 360 media quires */
@media only screen and ( max-width: 360px ) {
  #team .team_thumb .team_overlay
  {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    line-height: 220px;
    top: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
  }
}


.triangle {
    margin-left: 45%;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 45px solid #E91E63;
}

.heading {
    border-bottom: 4px solid #E91E63;
    width: 100%;
    background: #ffffff;
}

.heading h2 {
    font-family: 'supermarketregular';
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
}


progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 50;
    z-index: 999;
    /* Dimensions */
    width: 100%;
    height:4px;

    /* Reset the appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of the default border in Firefox/Opera. */
    border: none;

    /* Progress bar container for Firefox/IE10+ */
    background-color: transparent;

    /* Progress bar value for IE10+ */
    color: #E91E63;
}
progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background-color: #E91E63;
}

progress::-moz-progress-bar {
    background-color: #E91E63;
}

/*ihoverrrrrr*/
.ih-item.circle .img img {
    position: absolute;
    top: 19px;
    right: 39px;
}
.ih-item.circle .img img{
    border-radius: 0;
}
.main-icons li{
    float: left;
}
.main-icons li:first-child{
    margin-left: 150px;
}
@media only screen and (max-width: 1199px) {
    .ih-item.circle.effect1 .spinner {
        width: 200px;
        height: 200px;
    }
    .main-icons li:first-child{
        margin-left: 80px;
    }
    .ih-item.circle.effect1 .info {
        width: 180px;
        height: 180px;
    }
    #big-banner ul li {
        margin-right: 50px;
    }
    .ih-item.circle .img img {
        height: 130px;
        position: absolute;
        width: 130px;
        top: 10px;
        right: 50px;
    }
    .info-back p{
        display: none;
    }
    .ih-item.circle.effect1 .info h3 {
        font-family: 'supermarketregular';
    }
}
@media only screen and (max-width: 992px) {
    .main-icons li:first-child{
        margin-left: 0px;
    }
    #big-banner ul li {
        margin-right: 10px;
    }

}
@media only screen and (max-width: 355px) {
    .main-icons li:first-child{
        margin-left: 20%;
    }
    .main-icons li{
        margin-left: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .ih-item.circle.effect1 .spinner {
        width: 150px;
        height: 150px;
    }
    .main-icons li:first-child{
        margin-left: 37%;
    }
    .main-icons li{
        margin-left: 37%;
    }

    .ih-item.circle.effect1 .info {
        width: 130px;
        height:130px;
    }
    #big-banner ul li {
        margin-top: -40px;
        margin-bottom: -40px;
    }
    .ih-item.circle .img img {
        height: 100px;
        position: absolute;
        width: 100px;
        top: 7px;
        right: 95px;
    }
    .ih-item.circle.effect1 .info{
        display: none;
    }
}
@media only screen and (max-width: 540px) {
    .main-icons li:first-child{
        margin-left: 30%;
    }
    .main-icons li{
        margin-left: 30%;
    }
}
@media only screen and (max-width: 540px) {
    .main-icons li:first-child{
        margin-left: 27%;
    }
    .main-icons li{
        margin-left: 27%;
    }
}
@media only screen and (max-width: 360px) {
    .main-icons li:first-child{
        margin-left: 44px;
    }
    .main-icons li{
        margin-left: 44px;
    }
    #big-banner ul li {
        margin-top: -69px;
        margin-bottom: 0;
    }
}
.ih-item.circle.effect1 .info {
    background: rgba(0, 0, 0, 0.85555555555);
}
.ih-item.circle.effect1 .spinner {
    border: 10px solid #E91E63;
    border-right-color: #EFB1B1;
    border-bottom-color: #EFB1B1;
}
/**title img*/
.title li img{
    //max-width: 50px!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {

    margin-right: 0;
    background-color: transparent!important;
    border: none;
    border-bottom-color: transparent;
    cursor: default;
    //border-bottom: 3px solid #31a95b;
}

.nav-tabs>li.active, .nav-tabs>li.active:hover, .nav-tabs>li.active:focus {
    border-bottom: 3px solid #E91E63;
    margin: 0px 10px 10px 0px;
    text-decoration: none;

}
.nav-tabs>li {
    margin: 0px 10px 10px 0px;
}
.nav-tabs>li>a:hover {
    color:#E91E63 ;
    text-decoration: none;
    border-color: transparent;
}
.nav-tabs li a{
    margin-right: 0;
    border: none;
    color:#000000 ;
    text-decoration: none;
    border-color: transparent;
}
 .terminal{
    margin-top: 10px;
    -webkit-border-radius: 3px;
    position: relative;
    -webkit-transition: box-shadow .8s ease-in-out,outline .8s ease-in-out;
}
 .terminal .title{
    position: relative;
    height: auto;
    margin-top: -10px;
    padding: .1em;
    padding-left: 13px;
    float: left;
    margin-left: 10px;
}

 .terminal .content{
    height: auto;
    padding: 10px 10px 10px 10px;
    text-align: left;
    display: block;

}
.title-top{
    position: relative;
    height: 79px;
    border-bottom: 1px solid #d4d4d4;
}
@media only screen and (max-width: 580px) {
    .uni .title-top,.gov .title-top{
        height: 148px;
    }
    .gov .title-top{
         height: 134px;
    }
}
 .title-top ul li img{
     max-width: 50px;
     margin: 3px;
}
.terminal .nav-tabs {
    border-bottom: 1px solid transparent;
}

.uni .title-top{
    border-bottom: 1px solid #5D2CB2!important;
}
.gov .title-top{
    border-bottom: 1px solid #804C0A!important;
}
.travel .title-top{
    border-bottom: 1px solid #288AC7!important;
}



/*contemt*/

[class^=col-] {
    padding-left: 0px;
    padding-right: 0px;
}

.terminal .content h3 {
    clear: both;
    margin-top: 10px;
    border-top-width: 3px;
    border-top-style: solid;
    margin-bottom: 12px;
    position: relative;
    font-size: 18px;
}
.terminal .content h3 a {
    display: inline-block;
    padding: 4px 10px 5px;
    color: #fff;
    white-space: nowrap;
}
.terminal .content h3 a:hover{
    text-decoration: none;
    cursor: context-menu;
}
.color0{
    border-top-color: #aa650b;
}
.color0>a{
    background-color: #aa650b;
}
.color1{
     border-top-color: #240638;
 }
.color1>a{
    background-color: #240638;
}
.color2{
    border-top-color: #2550b2;
}
.color2>a{
    background-color: #2550b2;
}
.color3{
    border-top-color: #e71a1f;
}
.color3>a{
    background-color: #e71a1f;
}
.color4{
    border-top-color: #e71ba1;
}
.color4>a{
    background-color: #e71ba1;
}
.color5{
    border-top-color: #e7a824;
}
.color5>a{
    background-color: #e7a824;
}
.color6{
    border-top-color: #7a9c96;
}
.color6>a{
    background-color: #7a9c96;
}
.color7{
    border-top-color: #1f88e7;
}
.color7>a{
    background-color: #1f88e7;
}
.color8{
    border-top-color: #e74e00;
}
.color8>a{
    background-color: #e74e00;
}
.color9{
    border-top-color: #aa650b;
}
.color9>a{
    background-color: #aa650b;
}
.color10{
    border-top-color: #240638;
}
.color10>a{
    background-color: #240638;
}
.color11{
    border-top-color: #2550b2;
}
.color11>a{
    background-color: #2550b2;
}
.color12{
    border-top-color: #e71a1f;
}
.color12>a{
    background-color: #e71a1f;
}
.color13{
    border-top-color: #e71ba1;
}
.color13>a{
    background-color: #e71ba1;
}
.color14{
    border-top-color: #e7a824;
}
.color14>a{
    background-color: #e7a824;
}
.color15{
    border-top-color: #7a9c96;
}
.color15>a{
    background-color: #7a9c96;
}
.color16{
    border-top-color: #e74e00;
}
.color16>a{
    background-color: #e74e00;
}
.tab-content [class^=col-] {
    height: 100px;
}
@media only screen and (max-width: 768px) {
    .tab-content [class^=col-] {
        margin-bottom: 15px;
    }
}
.tab-pane .media .media-left{
    margin: 3px 5px 5px 5px;
    text-align: -webkit-center;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    top: -4px;
    left: -4px;
    padding: 0;
    z-index: 10;
    -webkit-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
    -moz-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
    transition: background 0.5s, color 0.5s, box-shadow 0.5s;
    box-shadow: 0 0 0 2px rgba(245, 0, 138, 1);
}
.tab-pane .media img{
    margin: 10px 0px;
    width: 40px;
    filter: invert(1);
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -o-filter: invert(0);
    -ms-filter: invert(0);
}
.tab-content [class^=col-] a:hover>.media img {
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
}
.tab-content [class^=col-] a:hover>.media img {
    -webkit-animation: toBottomFromTop 0.5s forwards;
    -moz-animation: toBottomFromTop 0.5s forwards;
    animation: toBottomFromTop 0.5s forwards;
}
@-webkit-keyframes toBottomFromTop {
    49% {
        -webkit-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toBottomFromTop {
    49% {
        -moz-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
.tab-content [class^=col-] a:hover>.media .media-left {
    background-color: #E91E63;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.3);
}
.tab-content [class^=col-] .media .media-body {
    margin: 10px 0px 0px 5px;
    color: #000000;
    -webkit-transition: all .19s linear;
    transition: all .19s linear;
}
.tab-content [class^=col-] a:hover> .media .media-body {
    color: #E91E63;
}
.tab-content [class^=col-] a:hover{
    text-decoration: none;
}

small{
    font-size: 90%;
}
@media only screen and (max-width: 768px) {
    .media .media-body h4 {
        //font-size: 15px;
        word-break: break-all;
        padding-top: 5px;
    }
    .tab-pane .media .media-left{
        width: 40px;
        height: 40px;
    }
    .tab-pane .media img{
        margin: 6px 0px;
        width: 30px;
    }
}
.media-heading {
    font-weight: 600;
    text-decoration: underline;
}
.media:hover
{
    /*-webkit-box-shadow:0 1px 6px rgba(245, 0, 138, 1), 0 0 40px rgba(237, 225, 237, 1) inset;
    -moz-box-shadow:0 1px 6px rgba(245, 0, 138, 1), 0 0 40px rgba(237, 225, 237, 1) inset;
    box-shadow:0 1px 6px rgba(245, 0, 138, 1), 0 0 40px rgba(237, 225, 237, 1) inset;*/
}
.grid {
    padding: 3px 3px 20px 3px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid .li1 {
    display: inline-block;
    width: 440px;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.grid figcaption span:before {
    content: 'by ';
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}

/* Individual Caption Styles */

/* Caption Style 1 */
.cs-style-1 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
    opacity: 0.8;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.cs-style-1 figcaption h3 {
    margin-top: 70px;
}

.cs-style-1 figcaption span {
    display: block;
}

.cs-style-1 figcaption a {
    margin-top: 30px;
}
.event [class^=col-]{
    min-height: 300px;
    margin-top: 10px;
    background: #ffffff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    position: relative;
    //z-index: 99;
    -webkit-transition: box-shadow .8s ease-in-out,outline .8s ease-in-out;
    background-color: #E91E63;
    background: linear-gradient(to bottom,#E91E63 0,#f7b2d0 100%) no-repeat #E91E63;
}
.carousel-inner>.item>img{
    min-width: 100%;
    height: 350px;
}
.carousel-caption-first{
    top: -10%;
    left: 10%;
}
.carousel-caption-first h3{
    width: 40%;
    background-color: rgba(0,0,0,0.7);
}
.carousel:hover .carousel-caption-second{
    background-color: rgba(0,0,0,0.9);
}

footer{
    background-color: #ffffff;
    min-height: 50px;
    text-align: center;
    font-size: 16px;
}
footer .foot-logo img{
    max-width: 49px;
}
@media only screen and (min-width: 1180px) {
    footer .container{
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    footer{
        padding: 20px;
        text-align: left;
    }
    footer .foot-logo img{
        max-width: 79px;
    }
    .carousel-caption-second{
        left:0;
        right:0;
        background-color: rgba(0,0,0,0.9);
        z-index: 0;
    }
    .carousel-caption-first h3{
        width: 70%;
    }
    .ui-autocomplete {
        width: 90%!important;
        left: -5%;
    }
}
footer a{
    color: #000000;
}
footer a:hover{
    text-decoration: none;
    color: #E91E63;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
.event h1{
    font-size:26px;
    color: #ffffff;
    text-align: left;
}

.nav-logo img:first-child{
    max-width:35px;
    float: left;
}
.nav-logo img:last-child{
    max-width: 230px;
    padding-top: 2px;
}
@media only screen and (max-width: 768px) {
    .nav-logo img:last-child{
        max-width: 180px;
        padding-top: 10px;
    }
}
@media only screen and (max-width: 346px) {
    .nav-logo img:last-child{
        max-width: 150px;
        padding-top: 20px;
    }
    .nav-logo img:first-child{
        padding-top: 10px;
        max-width:30px;
        float: left;
    }
}
.foot-logo{
    width: 150%;
}
.foot-logo img:last-child{
    max-width: 150px;
    margin-left: -90px;
    padding-top: 5px;
}
@media only screen and (max-width: 768px) {
    .foot-logo{
        width: 100%;
    }
    .foot-logo img:last-child{
        margin-left: 10px;
        max-width: 200px;
        padding-top: 15px;
    }
}
.gov .nav-tabs{
    //margin: 5px 0 0 0px!important;
}
@media only screen and (max-width: 464px) {
    .gov .nav-tabs li img{
        max-width: 30px;
    }
    .gov .nav-tabs{
        margin: 5px 0 0 0px!important;
    }
}

/***
* css V.1.0.1 naja
*/

.p-header{
    background: #E91E63;
    //height: 100%;
    //min-height: 100%;
    width: 100%;
    position: relative;
}

.p-header .head-logo{
    height: 160px;
    position: relative;
}
.p-header .head-logo .ct-logo{
    text-align: -webkit-center;
    padding-top: 40px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    position: relative;
}
.p-header .navbar-fixed-top{
    top:inherit ;
}
nav{
    clear: both;
    border : none;
    position: relative;
    z-index: 999;
    width: 100%;
    left: 0;
    z-index: 100;
}
.layout-content{
    position: relative;
    background: url('../images/backgr_bg.jpg') repeat fixed left top;;
}
#main-menu{
   // padding: 0px 10% 0px 10%;
}
@media only screen and (max-width: 1024px) {
    #main-menu{
        padding: 0px 0 0px 0;
    }
}
#main-menu ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}



.navbar-nav li{
    text-align: center;
    width: 20.33%;
    font-size: 110%;
    background-position: left;
    background-repeat: no-repeat;
}
.navbar-nav li a{
    color: #000000!important;
    display: table;
    width: 100%;
    border-top: 10px solid transparent;
    text-decoration: none;
}
.navbar-nav li a .badge{
    position: absolute;
    top: 45px;
    background-color: #000000;
}
.navbar-nav li a:hover{
    border: 1px solid white;
    padding: 22px 0 16px 0;
    text-decoration: underline;
}
.navbar-nav li a.active .badge{
    background-color: #E91E63;
}
.navbar-nav li a.active{
    padding: 22px 0 12px 0;
    border-top: 6px solid #c61f0c;
    background-color : #ffffff;
    color:#E91E63!important;
 }
.navbar-nav li a.active>.home{
    filter: invert(0);
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -o-filter: invert(0);
    -ms-filter: invert(0);
}

.navbar-nav li a.active:hover{
    text-decoration: none;
    border: none;
    border-top: 6px solid #c61f0c;
    background-color : #ffffff;
    color:#E91E63!important;
}
.navbar-nav .home{
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    position: relative;
    padding: 55px 0 0 0;
    display: table-cell;
    vertical-align: middle;
    background-size:50px ;
    background-repeat: no-repeat;
    background-position: top center;
}
.ihome-travel{
    background: url("/images/traveler2.png");
}
.ihome-uni{
    background: url("/images/university3.png");
}
.ihome-event{
    background: url("/images/events.png");
}
.ihome-home{
    background: url("/images/home.png");
}

.ihome-gov{
    background: url("/images/gov1.png");
}
.ihome-search{
    background: url("/images/search.png");
}

a:focus:not(.a-tab), input:focus, button:focus, textarea:focus, select:focus, a:active:not(.a-tab), input:active, button:active, textarea:active, select:active,
.currently:focus,.currently:active{
    outline: #ff8c00 solid 3px;
}
a.menu:focus,a.menu:active{
    outline: none;
}
.nav-menu{
    float: left;
    width: 11.429em;
    background-color: transparent;
}
.nav-menu .menu{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 200px;
    position: fixed;
    z-index: 10000;
    width: 86px;
    left: 0;
    list-style-type: disc;
    text-align: center;
    border: none;
    list-style: none;
}
.nav-menu li{
    list-style-image: none;
    list-style-type: none;
    margin: 0;
}
.nav-menu a{
    opacity: 0.9;
    margin: 1% 1% 5% 1%;
    float: left;
    display: block;
    height: 63px;
    width: 200px;
    position: relative;
    background: #f4726d;
    text-decoration: none;
    left: -135px;
    -webkit-transition: all 0.2s linear; /* Safari */
    transition: all 0.2s linear;
}
.nav-menu a:hover{
    background: #E91E63;
    left: 0;
    text-decoration: none;
    -webkit-transition: all 0.2s linear; /* Safari */
    transition: all 0.2s linear;
}
.nav-menu a img{
    display: block;
    margin: 0 auto;
    clear: both;
    height: 63px;
    width: auto;
    float: right;
    position: relative;
    padding: 10px 10px 5px 10px;
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
}
#back-top{
    /*background: #f4726d;
    color: #fff;
    padding: 5px 10px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 9999;
    cursor: pointer;*/
}
.menu-button{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    //width: 100%;
    position: fixed;
    right: 0px;
    bottom: 20px;
    z-index: 9999;
    list-style: none;
    margin: 0;
    padding: 0;
    //height: 220px;
    text-align: -webkit-right;

}
.menu-button a{
   text-decoration: none;
    font-size: 15px;
}
.menu-item{
    background: #f4726d;
    color: #fff;
    padding: 5px 8px;
    cursor: pointer;
    opacity: 0.9;
    margin-bottom: 1px;
    //margin-top: 3px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.2s linear; /* Safari */
    transition: all 0.2s linear;;
}
.menu-title{
    font-size: 1.53em;
    top: 20px;
    position: relative;
    vertical-align: baseline;
    color: #ffffff;
}

/*a.menu-gov:hover>li{
    width: 130px;
}
a.menu-travel:hover>li{
    width: 100px;
}
a.menu-uni:hover>li{
    width: 130px;
}*/

.menu-item:hover>.menu-title{
    //-webkit-transition: all 2s linear; /* Safari */
    //transition: all 2s linear;
    //display: block;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    visibility: visible;
}
.menu-item:hover,#back-top:hover{
    background: #E91E63;
    opacity: 1;
}
.navbar-nav li:last-child{
    width: 18.333333333%;
}
@media only screen and (max-width: 768px) {

    #main-menu{
        padding: 0px 0 0px 0;
        background: #DD3E97;
       // padding: 20px 20px 20px 20px;
        border-top: 1px solid #fff;
    }
    #main-menu ul {
        font-size: 90%;
    }
    .navbar-nav .home{
        padding: 6px 0 6px 40px;
        background-position: left;
        background-size: 32px;
    }
    .navbar-nav li{
        width: 100%;
        height: auto;
        text-align: left;
    }
    .navbar-nav li:last-child{
        width: initial;
    }
    .navbar-nav li a{
        border: none;
        height: 60px;
        //background: #fff;
        //color: #27558a;
        padding: 6px 12px 6px 12px;
        border-bottom: 1px solid #ffffff;
        box-sizing: border-box;
    }
    .navbar-nav li a:hover{
        color: #0D0C0C!important;
       // border: 1px solid white;
        //padding: 22px 0 16px 0;
        color: #777;
        text-decoration: underline;
        //border-top: none;
        border-left: 6px solid #c61f0c;
        border-bottom: 1px solid #ffffff;
        padding: 6px 12px 6px 6px
    }
}
#search-form {
    position: relative;
    margin-top: -20px;
    -webkit-transition: max-height 0.4s linear, padding 0.4s linear, margin-top 0.4s linear; /* Safari */
    transition: max-height 0.4s linear, padding 0.4s linear, margin-top 0.4s linear;
    left: 0;
    width: 100%;
    max-height:0;
    overflow: hidden;
    background-color: #e1e4e7;
    background: #373737;
    padding: 0px 0px 0px 0px;
    -webkit-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.49);
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.49);
}
@media only screen and (min-width: 992px) {
    #search-form .container{
        padding: 0 8%
    }
}
#search-form.open {
    border-top: 1px solid #fff;
    max-height: 80px;
    z-index: 1;
    padding: 20px 20px 20px 20px;
    -webkit-transition: max-height 0.4s linear, padding 0.4s linear; /* Safari */
    transition: max-height 0.4s linear, padding 0.4s linear;
 }
#search-form.show {
    display: block!important;
    margin-top: 0px!important;
}
#search-form .search-label{
    color: #ffffff;
    margin: 0 60px 0 0;
    float: left;
}

#search-form fieldset {
    position: relative;
    margin: 0 0 0 0;
    padding: 0;
    border: none;
    //float: right;
}

#search-form input {
    @include box-sizing(border-box);
    box-sizing: border-box;
    display: block;
    height: 40px;
}

#search-form input[type="search"] {
    //width: 100%;
    padding: 0 5px 0 5px;
    background: transparent;
    border: none;
    display: block;
    float: left;
    width:100%;
    border: 0;
    margin: 0 0 0 0;
    //padding: 20px 10px 10px 10px;
    font-size: 1.5em;
    line-height: 20px;
    height: 40px;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #ffffff;
}

#search-form button[type="submit"] {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background: #E91E63;
    border: none;
    cursor: pointer;
    height: 40px;
    font-size: 1.5em;
}

@media only screen and (max-width: 768px) {

    #search-form .search-label{
        float: none;
    }
    #search-form.open {
        max-height: 100px;
    }
}
.slide {
    background: transparent;
    position: relative;
    padding: 3vh 0%;
    min-height: 40vh;
    //width: 100vw;
    box-sizing: border-box;
    //box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}
.slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}
.weather{
    color: white;
    float: left;
    position: absolute;
    max-width: 210px;
    top: 0px;
    right: 60px;
}
.feedback{
    padding: 10px;
    color: white;
    float: left;
    position: absolute;
    max-width: 210px;
    top: 0px;
}
.feedback a{
    font-size: 18px;
    color: #ffffff;
}
.feedback a:hover{
    //text-decoration: none;//14102537
}
#title {
   // background-color: #e9eaed;
   // background-image: url("http://se.ict.up.ac.th/56023051/portal/public/images/slider/1.jpg");
   // background-attachment: fixed;
}
#title-event {
    //background-color: #e9eaed;
// background-image: url("http://se.ict.up.ac.th/56023051/portal/public/images/slider/1.jpg");
    //background-attachment: fixed;
}
#slide1:before {
    //background-color: #64B5EF;
    //background-image: url("http://se.ict.up.ac.th/56023051/portal/public/images/slider/3.jpg");
    //background-attachment: fixed;
    z-index:-1;
}
#slide2:before {
    //background-color: rgb(130, 101, 187);
    //background-image: url("http://se.ict.up.ac.th/56023051/portal/public/images/slider/2.jpg");
    //background-attachment: fixed;
    z-index:-1;
}
.slideout-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #333;
    z-index: 100;
}
.slideout-menu h3 {
    position: relative;
    padding: 12px 10px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    border-bottom: 4px solid #222;
}
.slideout-menu .slideout-menu-toggle {
    position: absolute;
    top: 12px;
    right: 10px;
    display: inline-block;
    padding: 6px 9px 5px;
    font-weight: bold;
    line-height: 1;
    background: #222;
    color: #999;
    text-decoration: none;
    vertical-align: top;
}
.slideout-menu .slideout-menu-toggle:hover {
    color: #fff;
}
.slideout-menu ul {
    list-style: none;
    font-weight: 300;
    border-top: 1px solid #151515;
    border-bottom: 1px solid #454545;
    margin-left: -36px;
}
.slideout-menu ul li {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #151515;
}
.slideout-menu ul li a {
    position: relative;
    display: block;
    padding: 10px;
    color: #999;
    text-decoration: none;
}
.slideout-menu ul li a:hover {
    background: #000;
    color: #fff;
}
.slideout-menu ul li a i {
    position: absolute;
    top: 15px;
    right: 10px;
    opacity: .5;
}

.city {
    text-align: center;
    position:relative;
    font-size:1.25em;
    letter-spacing:.15em;
    word-wrap:break-word;}
.city h1 {
    font-weight:300;
}

.city:after {
     content:'';
     display:block;
     height:2px;
     width:50%;
     background:currentColor;
     position:absolute;
     opacity:.25;
     top:120%;
     left:25%;
 }



.icon {
    font-family: weather;
    font-size: 100px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}
.icon-img{
    max-width: 200px;
    padding-top: 40px;
}
.currently {
    color: white;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.currently:hover , .currently:focus {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.currently .current-icon {
    display:block;
    //font-size:200px;
    text-align:center;
    //margin-right:20px;
}
.currently .current-conditions {
    //font-size:5em;
    margin:0;}
.currently .current-conditions .current-temp {
    font-family: none;
    margin:0;
    font-size: 22px;
}
.currently .current-conditions .current-loc {
    //font-family: none;
    margin:0;
    font-size: 22px;
}
.event-title{
    font-size: 26px!important;
    margin:0;
}
.event-desc {
    display:block;
    font-size:22px;
    margin-top:0;
    margin-bottom:0px;
}
.current-desc {
    display:block;
    font-size:15px;
    margin-top:0;
    margin-bottom:0px;
}
@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59759/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59759/artill_clean_icons-webfont.eot') format('embedded-opentype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59759/artill_clean_icons-webfont.woff') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59759/artill_clean_icons-webfont.ttf') format('truetype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59759/artill_clean_icons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

.error-content{
    min-height: 41vh;
    padding: 30px!important;
}
.error-title{
    font-size: 2.7em;
}
.error-content{
    margin-top: 5px;
    font-size: 1.3em;
}
.error-content a{
    color: #E91E63;
}
.error-content ul li{
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .error-title{
        font-size: 1.9em;
    }
    .error-content{
        padding:5px!important;
    }
}
.events{
    color: #333333;
}

.events .title-search{
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
}
.events .title h1{
    font-size: 2.9em;
}
.events .content-event{
    margin: 0;
    font-size: 1em;
}
.events [class^=col-]{
    margin: 0;
    padding:1em 0 1em 0.5rem;
    font-size: 1em;
}
@media only screen and (max-width: 610px) {
    .events [class^=col-]{
        margin: 0;
        padding: 1em 0 1em 0;
        font-size: 1em;
        margin-bottom: 1.5em;
    }
}
.events [class^=col-] .feature{
    height: 399px;
    padding: 0;
    background: #FFF url('../images/ribbon.png') no-repeat -8px top;
    background-size: 40px;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    position: relative;
}
.events .feature .event-title{
    padding-left: 16px;
    height: 1.95em;
    word-break: break-word;
    font-size: 1.444em;
    line-height: 0.85em;
    margin: 10px 0 0 10px;
    font-weight: bold;
}
.events .feature .event-img{
    min-height: 245px;
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
}
.events .feature .event-img img{
    max-height: 230px;
    width: 100%;
}
.events .feature .event-desc{
    word-break: break-word;
}
.events .feature .event-desc p{
    //font-size: 1.333em;
    line-height: 0.82em;
    height: 1.82em;
    overflow: hidden;
    padding: 0.1em 0;
    margin: 0 0 5px 10px;
    font-weight: normal;
}
.events .feature a{
    text-decoration: none;
    color: #333333;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.events .feature a:hover{
    text-decoration: none;
    color: #E91E63;
}
.events .feature a:focus{
     outline: none;
}

.events .feature a:active{
      outline: none;
}
.events .feature:hover{
    -webkit-box-shadow: 6px 6px 33px -10px rgba(0,0,0,0.95);
    -moz-box-shadow: 6px 6px 33px -10px rgba(0,0,0,0.95);
    box-shadow: 6px 6px 33px -10px rgba(0,0,0,0.95);
}
@media only screen and (min-width: 610px) and (max-width: 768px) {
    .col-sx-6 {
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
    }
}
.events .feature .event-img-left img{
    height: auto;
    width: 100%;
}
.events [class^=col-] .feature-event {
    height: auto;
}
.feature-event .event-desc label:before{
    content: '*';
    position: absolute;
    top: -0.1em;
    font-weight: normal;
    right: 103%;
}
.feature-event .event-desc label{
    font-size: 1.1em;
    position: relative;
}
.feature-event .event-desc .detail{
    margin-bottom: 5vh;
}
.feature-event .event-desc div{
    font-size: 1em;
}
@media only screen and (max-width: 768px) {
    .feature-event .event-desc label:before{
        position: initial;
    }
}
#ajax-search .tab-content [class^=col-] .media .media-body {
    margin: 10px 0px 0px 5px;
    color: #000000;
}
#ajax-search .tab-content [class^=col-] a:hover> .media .media-body {
    color: #E91E63;
}
.res-search{
    height: auto;
    position: relative;
}
.terminal {
    width: 85%;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    padding: 2px;
}
@media only screen and (max-width: 768px) {
    .terminal {
        width:97%;
    }
}
.gov,.travel,.uni{
    text-align:-webkit-center;
}
.title-tab{
    font-size: 1em;
}

.nav-event .btn{
     font-size: 1.45em!important;
 }
.nav-event .btn:focus{
    outline: 0;
}
.nav-event .btn:hover{
    border-bottom: 3px solid #E91E63;
}
.nav-event .btn:focus{
    background-color: #ffffff;
    border-bottom: 3px solid #E91E63;
}
.border-bot{
    border-bottom: 3px solid #E91E63;
}
.nav-event .badge{
    background-color: #E91E63 ;
    font-size: 16px;
    font-weight: 100;
}
.content-event .tab-content [class^=col-]{
    height: auto;
}
.travel>.terminal{
    outline: #288AC7 solid 3px;
}
.uni>.terminal{
    outline: #5D2CB2 solid 3px;
}
.gov>.terminal{
    outline: #804C0A solid 3px;
}
.i-travel{
    background-image: url('../images/traveler2.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px;
}
.i-gov{
    background-image: url('../images/gov1.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px;
}
.i-uni{
    background-image: url('../images/university3.png');
    background-size: 43px;
    background-repeat: no-repeat;
    background-position: 10px;
}

.category{
    height: auto!important;
    margin: 0;
    padding: 1em 0 1em 0.5rem;
    font-size: 1em;
}
.category a{
    text-decoration: none;
    color: #333333;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.category a:hover{
    color : #E91E63;
}
.category .title-cat{
    height: 1.95em;
    word-break: break-word;
    font-size: 1.3em;
    line-height: 0.85em;
    margin: 10px 0 0 10px;
    font-weight: bold;
}
.category .main-cat{
    padding: 0;
    background-size: 40px;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    position: relative;
}


.bs-callout {
    padding: 0px 20px 20px 20px;
    margin: 13px 22px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #777;
}
.bs-callout-primary:hover {
    border-left-color: #E91E63;
}
.bs-callout-primary h3 a {
    color: #E91E63;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
#category .title{
    padding-left: 16px;
    word-break: break-word;
    font-size: 1.85em;
    line-height: 0.85em;
    margin: 10px 0 0 10px;
    font-weight: bold;
    position: relative;
    float: none;
    vertical-align: bottom;
}
#category .title img {
    max-width: 45px;
}
#category .mainCategory{
    margin-top: 10px;
    padding-left: 20px;
}
#category .mainCategory span{
    font-size: 14px;
    margin-right: 2px;
    letter-spacing: 0.9px;
}
#category .mainCategory span a{
     color : #ffffff;
    text-decoration: none;
 }
#category .mainCategory span a:hover{
    text-decoration: none;
}
#category .description{
    padding-left: 2px;
}
.label-active{
    background-color: #E91E63;
}
.panel-primary{
    border-radius: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.2em;
    font-weight: 100;
    border-color: #E91E63;
}
.panel-primary .panel-heading{
    font-size: 1.2em;
    background-color: #E91E63;
    border-color: #E91E63;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
#category-link .description{
    margin-top: 10px;
}
#category-link .title{
    padding: 10px;
    margin: 0;
    background-color: rgb(233, 30, 99);
    color: #ffffff;
    font-weight: 100;
}
#category-link .title{
    word-break: break-word;
    font-size: 1.85em;
    line-height: 0.85em;
    position: relative;
    float: none;
    vertical-align: bottom;
}
#category-link .panel-body p span{
     font-weight: bold;
}
#category .description p a,
#category .panel-body ul li a,
#category-link .description p a{
    color: #E91E63;
}
.layout-breadcrumd{
    position: relative;
    z-index: 9999;
    text-align: -webkit-left;
    width: 85%;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    padding: 2px;
}
.layout-breadcrumd .breadcrumb{
    font-weight: 800;
    font-size: 16px;
    background-color: transparent;
}
.layout-breadcrumd .breadcrumb a{
    color: #E91E63;
}
#title,#title-event,#category-link,#category{
    margin-top: -6vh;
}
.index{
    width: 40px;
    height: 40px;
    background-color: #E91E63;
    color: #ffffff;
    border-color: #E91E63;
    font-size: 21px;
    margin: 10px;
}
.index:hover{
    background-color: #ffffff;
    color:#E91E63;
    border: 2px solid #E91E63;
}
.index.active{
    background-color: #ffffff;
    color:#E91E63;
    border: 2px solid #E91E63;
}
#siteindax .btn-group{
    width: 85%;
}
.btn-default.disabled{
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.char{
    margin-top: 5vh;
}

.link{
    margin-top: 3vh;
    margin-bottom: 8vh;
}
.link a{
    color: #E91E63;
    font-size: 18px;
}
.slogan{
    margin-top: 3px;
    font-size: 23px;
    color: #ffffff;
    text-align: right;
}
.ct-logo a:hover{
    text-decoration: none;
}
.fixed-search{
    top: 0;
    border-width: 0 0 1px;
    position: fixed!important;
    right: 0;
    left: 0;
    z-index: 999999999!important;
    margin-top: 0!important;
}




